<!-- 
<nav>

    <label for="name" id="logo-text">
      <a href="#">Mithra</a>
      <img src="https://st2.depositphotos.com/1364916/7242/v/450/depositphotos_72428813-stock-illustration-partners-friends-logo.jpg" height="70" width="60" alt="">
    </label>

    <input type="checkbox" id="check">
    <label for="check" class="toggle">
      <i class="fa-solid fa-bars-staggered"></i>
    </label>

    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#about" >About</a></li>
      <li><a href="">Donate</a></li>
      <li><a href="#gallery">My contributions</a></li>
      <li><a href="#fund">Fund Raiser</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#contact">Contact Us</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a href=""><i style='font-size:24px; margin-top: 2px; margin-right: 2px;' class='fas'>&#xf2bd;</i>Profile</a></li>
      
    </ul>

    <div id="account-container" >
      </div>
  </nav> -->

  <!-- 
<nav>

    <label for="name" id="logo-text">
      <a href="#">Creative Learner</a>
    </label>

    <input type="checkbox" id="check">
    <label for="check" class="toggle">
      <i class="fa-solid fa-bars-staggered"></i>
    </label>

    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact US</a></li>
      <li><a href="#">About</a></li>
    </ul>

    <div id="account-container">
      <a href="#">Register</a>
      <a href="#">Login</a>
    </div>
  </nav> -->


<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg p-2">
  <div class="container-fluid">
    <a class="navbar-brand text-danger" routerLink="/admin-home"> Mithra  
       <img src="https://st2.depositphotos.com/1364916/7242/v/450/depositphotos_72428813-stock-illustration-partners-friends-logo.jpg" height="70" width="60" alt="">
    </a>
    <button class="navbar-toggler toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-3" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user-home" >Home</a>
        </li>
     
        <li class="nav-item ms-3">
          <a class="nav-link" aria-current="page" href="#about" >About</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link " aria-current="page" routerLink="/user-header-view-fund">Fund Raiser</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link " aria-current="page" routerLink="/user-donation-form" >Donate</a>
        </li>
        
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Contributions
          </a>
          <ul class="dropdown-menu ms-3">
            <li><a class="dropdown-item" routerLink="/user-view-item-donation">Donations</a></li>
            <li><a class="dropdown-item" routerLink="/user-view-fund-details">Fund Details</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item ms-3">
          <a class="nav-link" aria-current="page" href="#gallery" >Gallery</a>
        </li>

        <li class="nav-item ms-3">
          <a class="nav-link" aria-current="page" href="#contact" >Contact Us</a>
        </li>
       
         <li class="nav-item ms-3">
          <a class="nav-link" routerLink="">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </a>
      </li>
      </ul>
    </div>
  </div>
</nav>
</body>