<app-user-header></app-user-header>


<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1 class="text-center">Profile</h1>
        </div>
    </div>
    <!-- End -->

    

    <!-- Main -->
    <div class="main  container">
        <h2></h2>
        <div class="card container">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <img src="https://static.vecteezy.com/system/resources/previews/007/033/146/original/profile-icon-login-head-icon-vector.jpg"
                        height="100" alt="">
                        <tr class="mt-2">
                            <td>Name</td>
                            <input type="text" class="form-control border-2 border-black mt-2">
                        </tr>
                        <tr>
                            <td>Email</td>
                            <input type="text" class="form-control border-2 border-black mt-2">
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <input type="text" class="form-control border-2 border-black mt-2">
                        </tr>
                        <br>
                        <tr>
                            
                            <td>
                                <button class="btn btn-dark w-75" >Update </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
            
        </div>

    </div>

    
    <!-- End -->
</body>
