<!-- <app-user-header></app-user-header>


<body>
  <div id="container">

    <div id="body_header">
      <h1 class="mt-4">Appointment Request Form</h1>


    </div>
    <form action="index.html" method="post">
      <fieldset>
        <label for="appointment_description">Appointment For:</label>
        <textarea id="appointment_description" name="appointment_description" placeholder="I wish to get an appointment to visit"></textarea>
        <label for="date">Date*:</label>
        <input type="date" name="date" value="" required>
        <br>
        <label for="time">Time*:</label>
        <input type="time" name="time" value="" required>
        
      </fieldset>
      <button type="submit">Request For Appointment</button>
    </form>
    
  </div>
  
</body>
<button routerLink="/user-home" id="btn1" class="btn btn-dark ms-3 mb-3">Back
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</button> -->
