<app-user-header></app-user-header>


<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1 class="text-center">Profile</h1>
        </div>
    </div>
    <!-- End -->

    

    <!-- Main -->
    <div class="main  container w-75">
        <h2></h2>
        <div class="card container">
            <div class="card-body">
                <!-- <i class="fa fa-pen fa-xs edit"></i> -->
                <table>
                    <tbody>
                        <img src="https://static.vecteezy.com/system/resources/previews/007/033/146/original/profile-icon-login-head-icon-vector.jpg"
                        height="100" alt="">
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{uname}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>:</td>
                            <td>{{ph}}</td>
                        </tr>
                        <br>
                        <tr>
                            
                            <td>
                                <!-- <button class="btn btn-dark w-75" (click)="edit()">Edit</button> -->
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
            
        </div>

    </div>

    <button routerLink="/user-home" id="btn1" class="btn btn-dark  ms-3 mb-3">Back
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <!-- End -->
</body>
